<a href="https://colab.research.google.com/github/country4livin/Week-21-Deep-Learning-Challenge/blob/main/AlphabetSoup_Optimization2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' .
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts to identify >10 counts and replace with "Other"
name_counts = application_df['NAME'].value_counts()
name_counts[name_counts>10]

NAME
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
FINANCIAL PLANNING ASSOCIATION                                              11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
Name: count, Length: 204, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = list(name_counts[name_counts <= 10].index)

# Replace in dataframe
for nm in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(nm,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                  21202
PARENT BOOSTER USA INC                  1260
TOPS CLUB INC                            765
UNITED STATES BOWLING CONGRESS INC       700
WASHINGTON STATE UNIVERSITY              492
                                       ...
AMERICAN POSTAL WORKERS UNION             11
FELLOWSHIP OF CHRISTIAN COWBOYS INC       11
SLOW FOOD U S A INC                       11
USA SWIMMING INC                          11
FINANCIAL PLANNING ASSOCIATION            11
Name: count, Length: 205, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts <1000
classification_counts = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000]
print(classification_counts)

CLASSIFICATION
C7000    777
C1700    287
C4000    194
C5000    116
C1270    114
        ...
C1248      1
C6100      1
C1820      1
C1900      1
C2150      1
Name: count, Length: 66, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df, dtype = int)
numeric_df = numeric_df.astype(int)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X= numeric_df.drop('IS_SUCCESSFUL', axis=1)
y= numeric_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes1 = 100
hidden_nodes2 = 50
hidden_nodes3 = 20
input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

 Layer (type)                     Output Shape                  Param #

 dense_4 (Dense)                  (None, 100)                    25,700

 dense_5 (Dense)                  (None, 50)                      5,050

 dense_6 (Dense)                  (None, 20)                      1,020

 dense_7 (Dense)                  (None, 1)                          21

 Total params: 31,791 (124.18 KB)

 Trainable params: 31,791 (124.18 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Define the checkpoint callback
from tensorflow.keras.callbacks import ModelCheckpoint

checkpoint_callback = ModelCheckpoint(
    filepath='Models/AlphabetSoupCharity_epoch_{epoch:02d}.h5',
    save_weights_only=False,
    save_freq='epoch',
    verbose=1
)

In [19]:

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  5s 4ms/step - accuracy: 0.7494 - loss: 0.5191
Epoch 2/50
804/804  4s 2ms/step - accuracy: 0.7870 - loss: 0.4454
Epoch 3/50
804/804  2s 2ms/step - accuracy: 0.7873 - loss: 0.4403
Epoch 4/50
804/804  2s 2ms/step - accuracy: 0.7907 - loss: 0.4351
Epoch 5/50
804/804  3s 3ms/step - accuracy: 0.7856 - loss: 0.4383
Epoch 6/50
804/804  4s 2ms/step - accuracy: 0.7920 - loss: 0.4336
Epoch 7/50
804/804  3s 3ms/step - accuracy: 0.7908 - loss: 0.4333
Epoch 8/50
804/804  2s 2ms/step - accuracy: 0.7930 - loss: 0.4291
Epoch 9/50
804/804  2s 3ms/step - accuracy: 0.7988 - loss: 0.4236
Epoch 10/50
804/804  3s 3ms/step - accuracy: 0.7939 - loss: 0.4327
Epoch 11/50
804/804  4s 2ms/step - accuracy: 0.7932 - loss: 0.4303
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.7953 - loss: 0.4267
Epoch 13/50
804/804  3s 2ms/step - accuracy: 0.7910 - loss: 0.4315
Epoch 14/50
804/804  3s 3ms/step - accuracy: 0.7939 - loss: 0.4281
Epoch 15/50
804/804  2s 2ms/step - accuracy: 0.7939 - loss: 0.4294
Epoch 16/50
804/804  3s 2ms/step - accuracy: 0.7958 - loss: 0.4264
Epoch 17/50
804/804  2s 2ms/step - accuracy: 0.7966 - loss: 0.4265
Epoch 18/50
804/804  2s 2ms/step - accuracy: 0.7966 - loss: 0.4225
Epoch 19/50
804/804  3s 3ms/step - accuracy: 0.7917 - loss: 0.4289
Epoch 20/50
804/804  4s 3ms/step - accuracy: 0.7909 - loss: 0.4298
Epoch 21/50
804/804  2s 3ms/step - accuracy: 0.7951 - loss: 0.4254
Epoch 22/50
804/804  3s 2ms/step - accuracy: 0.7958 - loss: 0.4273
Epoch 23/50
804/804  3s 3ms/step - accuracy: 0.7970 - loss: 0.4235
Epoch 24/50
804/804  2s 3ms/step - accuracy: 0.7998 - loss: 0.4198
Epoch 25/50
804/804  2s 3ms/step - accuracy: 0.7958 - loss: 0.4230
Epoch 26/50
804/804  2s 2ms/step - accuracy: 0.7947 - loss: 0.4257
Epoch 27/50
804/804  2s 2ms/step - accuracy: 0.7945 - loss: 0.4268
Epoch 28/50
804/804  3s 3ms/step - accuracy: 0.7937 - loss: 0.4234
Epoch 29/50
804/804  2s 3ms/step - accuracy: 0.7924 - loss: 0.4252
Epoch 30/50
804/804  2s 2ms/step - accuracy: 0.7986 - loss: 0.4201
Epoch 31/50
804/804  3s 2ms/step - accuracy: 0.7979 - loss: 0.4199
Epoch 32/50
804/804  3s 2ms/step - accuracy: 0.7974 - loss: 0.4208
Epoch 33/50
804/804  4s 4ms/step - accuracy: 0.7980 - loss: 0.4178
Epoch 34/50
804/804  4s 2ms/step - accuracy: 0.8018 - loss: 0.4156
Epoch 35/50
804/804  3s 2ms/step - accuracy: 0.7985 - loss: 0.4174
Epoch 36/50
804/804  2s 2ms/step - accuracy: 0.7970 - loss: 0.4189
Epoch 37/50
804/804  3s 3ms/step - accuracy: 0.8014 - loss: 0.4172
Epoch 38/50
804/804  3s 3ms/step - accuracy: 0.8002 - loss: 0.4202
Epoch 39/50
804/804  2s 2ms/step - accuracy: 0.7998 - loss: 0.4192
Epoch 40/50
804/804  3s 2ms/step - accuracy: 0.8001 - loss: 0.4169
Epoch 41/50
804/804  2s 2ms/step - accuracy: 0.8018 - loss: 0.4151
Epoch 42/50
804/804  3s 3ms/step - accuracy: 0.7990 - loss: 0.4179
Epoch 43/50
804/804  3s 3ms/step - accuracy: 0.7982 - loss: 0.4203
Epoch 44/50
804/804  4s 2ms/step - accuracy: 0.7977 - loss: 0.4197
Epoch 45/50
804/804  3s 2ms/step - accuracy: 0.7957 - loss: 0.4215
Epoch 46/50
804/804  2s 2ms/step - accuracy: 0.7996 - loss: 0.4181
Epoch 47/50
804/804  3s 3ms/step - accuracy: 0.7991 - loss: 0.4157
Epoch 48/50
804/804  4s 2ms/step - accuracy: 0.7975 - loss: 0.4175
Epoch 49/50
804/804  2s 2ms/step - accuracy: 0.8012 - loss: 0.4148
Epoch 50/50
804/804  3s 2ms/step - accuracy: 0.8015 - loss: 0.4160

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7804 - loss: 0.4709
Loss: 0.47089338302612305, Accuracy: 0.7804081439971924

In [21]:
# Export our model to HDF5 file
nn.save("Models/AlphabetSoupOpt2.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.